version: "3"
services: 
  db:
    image: postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file: 
      - ./db.env
  app:
    build: .
    command: npm start
    volumes: 
      - .:/usr/app
    ports: 
      - "3000:3000"
    env_file: 
      - ./app.env
    